<app-nav></app-nav>

<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile class="color-50">50</mat-grid-tile>
  <mat-grid-tile class="color-100">100</mat-grid-tile>
  <mat-grid-tile class="color-200">200</mat-grid-tile>
  <mat-grid-tile class="color-300">300</mat-grid-tile>
  <mat-grid-tile class="color-400">400</mat-grid-tile>
  <mat-grid-tile class="color-500">500</mat-grid-tile>
  <mat-grid-tile class="color-600">600</mat-grid-tile>
  <mat-grid-tile class="color-700">700</mat-grid-tile>
  <mat-grid-tile class="color-800">800</mat-grid-tile>
  <mat-grid-tile class="color-900">900</mat-grid-tile>
</mat-grid-list>
