<grid-row>
  <grid-column [size]="4">
    <div class="color color-50">50</div>
  </grid-column>
  <grid-column [size]="4">
    <div class="color color-100">100</div>
  </grid-column>
  <grid-column [size]="4">
    <div class="color color-200">200</div>
  </grid-column>
</grid-row>

<grid-row>
  <grid-column [size]="4">
    <div class="color color-300">300</div>
  </grid-column>
  <grid-column [size]="4">
    <div class="color color-400">400</div>
  </grid-column>
  <grid-column [size]="4">
    <div class="color color-500">500</div>
  </grid-column>
</grid-row>

<grid-row>
  <grid-column [size]="4">
    <div class="color color-600">600</div>
  </grid-column>
  <grid-column [size]="4">
    <div class="color color-700">700</div>
  </grid-column>
  <grid-column [size]="4">
    <div class="color color-800">800</div>
  </grid-column>
</grid-row>

<grid-row>
  <grid-column [size]="4">
    <div class="color color-900">900</div>
  </grid-column>
  <grid-column [size]="4">
  </grid-column>
  <grid-column [size]="4">
  </grid-column>
</grid-row>
