
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '~src/styles/theme/theme-variables';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$StankStream-UI-primary: mat-palette($stank-primary);
$StankStream-UI-accent: mat-palette($stank-primary, A200, A100, A400);

// The warn palette is optional (defaults to red).
$StankStream-UI-warn: mat-palette($stank-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$StankStream-UI-theme: mat-dark-theme((
  color: (
    primary: $StankStream-UI-primary,
    accent: $StankStream-UI-accent,
    warn: $StankStream-UI-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($StankStream-UI-theme);

// https://medium.com/@aleixsuau/how-to-use-angular-material-2-sass-variables-in-your-components-76ce0203f126
