// Import Angular Material library functions.
@import '~@angular/material/theming';

$globalBackgroundColor: #212121;
$primary: #010101;

$fontColorPrimary: white;

// mat-palette function explained.
/**
 * Creates a map of hues to colors for a theme. This is used to define a theme palette in terms
 * of the Material Design hues.
 * @param $color-map
 * @param $primary
 * @param $lighter
 */
// @function mat-palette($base-palette, $default: 500, $lighter: 100, $darker: 700)

$stank-primary: (
  50: #504f4f,
  100: #484848,
  200: #3d3d3d,
  300: #353535,
  400: #2b2b2b,
  500: #222222,
  600: #1b1b1b,
  700: #131313,
  800: #0c0c0c,
  900: #000000,
  A100: hsl(160, 100%, 45%),
  A200: hsl(160, 100%, 20%),
  A400: hsl(160, 100%, 16%),
  A700: hsl(22, 100%, 68%),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$stank-red: (
  50: #ff7396,
  100: #eb5278,
  200: #d43f64,
  300: #c33357,
  400: #b1274a,
  500: #a12041,
  600: #951d3b,
  700: #881935,
  800: #7c152f,
  900: #6e1028,
  A100: #eb5299,
  A200: #d43f84,
  A400: #b1275c,
  A700: #881944,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$i3-colors: (
  redBackground: #e6c8d0,
  blueBackground: #ebeff6,
  yellowBackground: #F5D68E,
  greenBackground: #29631C,
  redText: #6D172E,
  blueText: #283b90,
);

$primary: mat-color(mat-palette($stank-primary));
$accent: mat-color(mat-palette($stank-primary, A200, A100, A400));
$success: map-get($i3-colors, 'greenBackground');
$error: mat-color(mat-palette($stank-red));
$background: map-get($mat-light-theme-background, 'background');

.success-snackbar {
  background: $success;
  color: #FFF;
}

.error-snackbar {
  background: $error;
  color: #FFF;
}
